html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; 
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    min-height: 100%;
}

.container {
    margin: 0 120px;
}

header {
    height: 76px;
    border-bottom: 1px solid #EFF5FB;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.header__logo {
    padding-top: 6px;
}

.nav__link {
    padding-right: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}

.nav__link:hover {
    color: #2963A3;
}


nav a:nth-of-type(6) {
    padding-right: 8px;
}

.nav__arrow {
    align-self: center;
    position: relative;
    top: 2px;
}

.nav__arrow:hover {
    background-color: #2963A3;
}

.header__button {
    background-color: #E3F5F5;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #03B2A5;
    font-weight: 600;
    align-self: center;
}

.header__button:hover {
    color: #E3F5F5;
    background-color: #03B2A5;
    cursor: pointer;
}

.header__burger {
    display: none;
}

.burger__line {
    height: 2px;
    width: 18px;
    background-color: #03B2A5;
    margin-top: 6px;
    border-radius: 4px;
}

.main-nav {
    margin-top: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-nav__link {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.main-nav__icon {
    margin: 0 5px;
    position: relative;
    top: 2px;
}

.blog__header {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    margin: 30px 0; 
}

.blog__sections {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sections__button {
    background-color: #fff;
    color:#333333;
    font-size: 14px;
    font-weight: 600;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 6px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    height: 32px;
    white-space: nowrap;
}

.sections__button_display_unactive:hover {
    color: #fff;
    background-color: #333333;
    cursor: pointer;
}

.button__icon {
    margin-right: 5px;
}

.sections__button_display_active {
    background-color: #F9FDFD;
    border: 2px solid #16C8BB;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article__photo-with-sections-names {
    display: inline-block;
    position: relative;
}

.article__photo {
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    width: 100%;
}

.article__photo_size_big {
    height: 260px;
}

.first_article__photo_size_big {
    object-position: center bottom;
}

.articles__article_size_big {
    margin-top: 15px;
    width: 588px;
    height: 499px;
}


.articles__article {
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
}

.article__section-name {
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 6px 8px;
    display: flex;
    align-items: center;
    color:#333333;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 8px;
}



.article__link {
    text-decoration: none;
}

.article__first-section-name {
    bottom: 225px;
}

.article__second-section-name {
    bottom: 185px;
}

.article__icon {
    margin-right: 4px;
}

.article__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article__header {
    font-weight: bold;
    color: #333333;
    font-size: 18px;
    padding: 0 16px;
    margin: 10px 0;
}

.article__author {
    font-weight: 400;
    font-size: 12px;
    color: #494949;
    padding: 0 16px;
    margin: 5px 0;
}

.article__description {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    flex-grow: 1;
    padding: 0 16px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__date {
    font-size: 12px;
    font-weight: 400;
    color: #868686;
    padding: 0 16px;
    margin: 5px 0;
}

.articles__article_size_small {
    margin-top: 24px;
    width: 384px;
    height: 475px;
}

.first-small-article__first-section-name_size_small {
    bottom: 233px;
}

.first-small-article__second-section-name_size_small {
    bottom: 193px;
}

.article__first-section-name_size_small {
    bottom: 224px;
}

.blog__button {
    display: flex;
    width: 182px;
    height: 48px;
    margin: 56px auto 96px auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #35B3A9;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.blog__button:hover {
    background-color: #FFFFFF;
    color: #35B3A9;
    cursor: pointer;
    border: 2px solid #35B3A9;
}

.footer {
    background-color: #2963A3;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.footer-content__column-links {
    list-style: none;
    padding: 0;
}

.column-links__link {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__header {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 10px;
    display: inline-block;
}

.form__inputs {
    display: flex;
}

.form__email {
    border-radius: 4px;
    border: none;
    background-color: #FFFFFF;
    width: 336px;
    height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
    border: 2px solid #9D9D9D;
}

.form__button {
    background-image: url("img/icon-for-email.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #16C8BB;
    height: 48px;
    width: 64px;
    border-radius: 4px;
    border: none;
    position: relative;
    right: 10px;
}

.form__button {
    cursor: pointer;
}

.form__agreement {
    display: inline-block;
    max-width: 450px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 18px;
    margin-top: 10px;
}

.footer-content__icons {
    display: flex;
    flex-direction: column;
    height: 122px;
    justify-content: space-between;
}

.icons__sk {
    display: flex;
    flex-direction: row;
    width: 221px;
    justify-content: space-between;
}

.icons__sm {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 176px;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgba(157, 157, 157, 0.3);
    margin-top: 27px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-bottom__element {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin: 17px 48px 17px 0px;
}

.text-article {
    width: 690px;
}

.text-article__header {
    margin-top: 54px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
}

.text-article__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.info__author {
    color: #494949;
    font-size: 14px;
    margin-right: 20px;
    position: relative;
}

.info__author::after {
    content: " \002E";
    position: absolute;
    bottom: 4px;
    margin-left: 8px;
}

.info__teg {
    margin-left: 20px;
    color: #2963A3;
    position: relative;
    display: none;
}

.info__teg::before {
    content: " \002E";
    position: absolute;
    bottom: 4px;
    right: 35px;
    color: #333333;
}

.info__date {
    color: #494949;
    font-size: 14px;
}

.text-article__main-photo {
    width: 100%;
    margin-top: 15px;
}

.content__header {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.section__list {
    list-style: none;
    width: 588px;
    padding-left: 20px;
}

.content__list-link_bullet_color::before {
    content:'\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -23px;
      color: #35B3A9;
      font-size: 50px;
}

.list-link__link {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 8px;
    line-height: 24px;
}

.section__header {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.section__paragraph {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: 24px;
}

.section__blockquote {
    background-color: #F3F7FE;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.blockquote__quotation-marks {
    position: absolute;
    left: 24px;
    top: 25px;
}

.blockquote {
    margin: 0;
}

.blockquote__text {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.blockquote__author {
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.section__link {
    margin-bottom: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.section__photo-block {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
}

.photo-block__photo {
    width: 100%;
    margin-bottom: 16px;
}

.photo-block__description {
    font-size: 14px;
    color: #868686;
}

.section__main-moment {
    max-width: 690px;
    min-height: 168px;
    margin: 24px 0;
    background-image: url(img/main-part-back.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}

.main-moment__text {
    text-align: center;
    display: inline-block;
    width: 485px;
    margin: 24px 102px;
    color: #333333;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
}

.section__text-with-photo {
    display: flex;
    flex-direction: row;
}

.text-with-photo__photo {
    margin: 20px 24px 10px 0;
}

.section__exercise {
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px;
    margin: 24px 0;
}

.section__exercise_color_yellow {
    background-color: #FEFAEC;
}

.section__exercise_color_orange {
    background-color: #FFF3EB;
}

.section__exercise_color_green {
    background-color: rgba(3, 178, 165, 0.1);
    
}

.exercise__header {
    margin: 0;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.exercise__text {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
}

.section__big-photo-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-photo-block__column {
    display: flex;
    flex-direction: column;
    width: 333px;
}

.section__decor {
    max-width: 179px;
    display: block;
    margin: 0 auto;
}

.text-article__tegs {
    margin-bottom: 48px;
    max-width: 670px;
}

.tegs__teg {
    text-decoration: none;
    color: #2963A3;
    font-size: 14px;
    line-height: 20px;
} 

.tegs__teg_pseudoelement_round::before {
    content: " \002E";
    position: relative;
    bottom: 4px;
    margin: 0 8px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #DEDEDE;
    margin-bottom: 72px;
}

.suggestion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggestion__description {
    display: flex;
    flex-direction: column;
}

.suggestion__header {
    color: #333333;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    max-width: 349px;
    margin: 0;
}

.suggestion__text {
    max-width: 349px;
    color: #333333;
    font-size: 18px;
    line-height: 26px;
    margin: 24px 0;
}

.suggestion__button {
    background-color: #16C8BB;
    color: #FFFFFF;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
    align-self: center;
}

.suggestion__button:hover {
    background-color: #f1efef;
    color: #16C8BB;
    cursor: pointer;
}

.suggestion__image {
    max-width: 520px;
    margin-bottom: 24px;
}

.bottom-line {
    width: 100%;
    height: 70px;
    background-color: #EFF5FB;
    border-radius: 20% 20% 0 0;
}

.main__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside {
    width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside__first-long-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 512px;
    border-radius: 16px;
    padding: 24px;
    margin-top: 50px;
    background-color: #E6F0FD;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.first-long-card__vector-image {
    width: 100%;
}

.first-long-card__header {
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 8px;   
}

.first-long-card__text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    width: 234px;
    margin-bottom: 24px;
}

.card__button {
    background-color: #35B3A9;
    color: #FFFFFF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    align-self: center;
    min-height: 48px;
}

.card__button:hover {
    color: #E6F0FD;
    cursor: pointer;
}

.aside__second-long-card {
    width: 100%;
    height: 481px;
    border: 1px solid #DEDEDE;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.second-long-card__image {
    min-width: 120px;
    border-radius: 50%;
    margin: 0 auto 16px auto;
}

.second-long-card__ways-of-communication {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 24px;
    background-color: rgba(95%, 96%, 97%, 0.7);
    border-radius: 6px;
    padding: 3px 8px;
    position: absolute;
    box-sizing: border-box;
    
}

.second-long-card__first-way-of-communication {
    top: 15px;
}

.second-long-card__second-way-of-communication {
    top: 45px;
}

.ways-of-communication__way {
    margin-left: 4px;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
}

.second-long-card__header {
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
}

.second-long-card__subheader {
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.second-long-card__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    position: relative;
}

.info__datas {
    font-size: 14px;
    font-weight: 500;
    color: #A2A7B1;
    margin: 8px;
}

.info__experience::after {
    content: "\2022";
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 108px;
    bottom: 9px;
}

.second-long-card__line {
    width: 100%;
    height: 1px;
    background-color: #DEDEDE;
    margin: 8px 0;
}

.second-long-card__info-header {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 8px;
}

.second-long-card__info-list {
    list-style: none;
    padding-left: 16px;
}

.info-list__link {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333333;
}

.info-list__link::before {
    content:'\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -28px;
      color: #35B3A9;
      font-size: 54px;
}

.card__button_size {
    width: 100%;
}

.aside__third-card {
    margin-top: 24px;
    width: 100%;
    height: 292px;
    border-radius: 16px;
    background-image: url(img/aside3.png);
    background-position: center;
}

.aside__fourth-card {
    margin-top: 24px;
    width: 100%;
    height: 304px;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 32px;
    position: relative;
}

.fourth-card__header {
    font-size: 18px;
    font-weight: bold;
    color: #2963A3;
    margin: 0;
}

.header__main-part {
    font-size: 32px;
}

.fourth-card__text {
    color: #011632;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    width: 196px;
}

.fourth-card__price {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
 
.fourth-card__button_size {
    width: 108px;
}

.fourth-card__first-present {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    border-radius: 16px;
}

.fourth-card__second-present {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.big-round-decor {
    position: absolute;
    top: 3000px;
    right: 0;
}

.small-round-decor {
    position: absolute;
    top: 5200px;
    right: 0;
}



@media (min-width: 1020px) and (max-width: 1230px) {
    .container {
        margin: 0 32px;
    }

    .nav__link {
        padding-right: 10px;
    }

    .articles__article_size_big {
        width: 468px;
        height: 499px;
    }
    
    .articles__article_size_small {
        width: 304px;
        height: 458px;
    }

    .first-small-article__first-section-name_size_small {
        bottom: 177px;
    }

    .first-small-article__second-section-name_size_small {
        bottom: 137px;
    }
    
    .article__first-section-name_size_small {
        bottom: 171px;
    }

    .article__description {
        line-height: 14px;
    }

    .info__teg {
        display: inline;
    }

    .text-article {
        width: 714px;
        margin-bottom: 71px;
    }

    .aside {
        width: 222px;
    }

    .aside__first-long-card {
        height: 495px;
        padding: 24px 20px;
    }

    .aside__second-long-card {
        height: 530px;
        padding: 24px;
    }

    .info__experience::after {
        right: 70px;
    }

    .second-long-card__line {
        margin: 5px 0;
    }

    .aside__fourth-card {
        padding: 24px;
    }

    .fourth-card__first-present {
        width: 69px;
    }

    .fourth-card__second-present {
        width: 88px;
    }

    .text-article__tegs {
        display: none;
    }

    .line {
        display: none;
    }

    .suggestion {
        display: none;
    }

    .bottom-line {
        display: none;
    }

    .big-round-decor {
        display: none;
    }

    .small-round-decor {
        display: none;
    }

    .list-link__display_none {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1019px) {

    .container {
        margin: 0 20px;
    }

    .nav__link {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .header__burger:hover {
        cursor: pointer;
    }

    .articles__article_size_big {
        width: 100%;
        height: 599px;
    }

    .article__photo {
        height: 404px;
    }

    .article__first-section-name {
        bottom: 365px;
    }
    
    .article__second-section-name {
        bottom: 325px;
    }

    .articles__article_size_small {
        width: 352px;
        height: 446px;
    }

    .article__photo_size_small {
        height: 206px;
    }

    .first-small-article__first-section-name_size_small {
        bottom: 170px;
    }
    
    .first-small-article__second-section-name_size_small {
        bottom: 130px;
    }

    .article__first-section-name_size_small {
        bottom: 170px;
    }

    .article__author {
        margin-top: 0px;
    }

    .article__description {
        line-height: 14px;
    }

    .main__content {
        flex-direction: column;
    }

    .text-article {
        width: 100%;
        margin-bottom: 0;
    }

    .list-link__display_none {
        display: none;
    }

    .section__list {
        width: 98%;
    }

    .text-article__tegs {
        display: none;
    }

    .line {
        display: none;
    }

    .suggestion {
        display: none;
    }

    .bottom-line {
        display: none;
    }

    .big-round-decor {
        display: none;
    }

    .small-round-decor {
        display: none;
    }

    .info__teg {
        display: inline;
    }

    .aside {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
        align-items: flex-start;       
    }

    .aside__first-long-card {
        width: 356px;
        padding: 23px;
        flex-shrink: 0;
        margin-top: 0;
        height: 481px;
    }

    .first-long-card__text {
        width: 100%;
    }

    .first-long-card__vector-image {
        width: 257px;
    }

    .aside__second-long-card {
        width: 356px;
        padding: 24px 52.5px;
        flex-shrink: 0;
        height: 481px;
    }

    .aside__third-card {
        width: 356px;
        height: 242px;
        margin-top: 0;
        margin-bottom: 59px;
    }

    .aside__fourth-card {
        width: 356px;
        height: 242px;
        margin-top: 0;
        margin-bottom: 59px;
        padding: 14px;
    }

    .fourth-card__text {
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 767px) {
    .container {
        margin: 0 20px;
    }

    .nav__link {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .header__burger:hover {
        cursor: pointer;
    }

    .blog__header {
        font-size: 32px;
    }

    .blog__sections {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .blog__sections::-webkit-scrollbar {
        display: none;
    }

    .articles {
        justify-content: center;
    }

    .articles__article_size_big {
        width: 374px;
        height: 466px;
    }

    .article__photo {
        height: 206px;
    }

    .article__first-section-name {
        bottom: 170px;
    }
    
    .article__second-section-name {
        bottom: 133px;
    }

    .articles__article_size_small {
        width: 374px;
        height: 466px;
    }

    .article__photo_size_small {
        height: 206px;
    }

    .first-small-article__first-section-name_size_small {
        bottom: 170px;
    }
    
    .first-small-article__second-section-name_size_small {
        bottom: 130px;
    }

    .article__first-section-name_size_small {
        bottom: 170px;
    }

    .article__date_size_big {
        top: 420px;
    }

    .articles__article_display_none {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .form__button {
        width: 48px;
    }

    .main__content {
        flex-direction: column;
    }

    .text-article {
        width: 100%;
        margin-bottom: 0;
    }

    .list-link__display_none {
        display: none;
    }

    .section__list {
        width: 95%;
    }

    .text-article__tegs {
        display: none;
    }

    .line {
        display: none;
    }

    .suggestion {
        display: none;
    }

    .bottom-line {
        display: none;
    }

    .big-round-decor {
        display: none;
    }

    .small-round-decor {
        display: none;
    }

    .info__teg {
        display: inline;
    }

    .aside {
        width: 100%;     
    }

    .aside__first-long-card {
        padding: 23px;
        max-width: 374px;
        align-self: center;
    }

    .first-long-card__text {
        width: 100%;
    }

    .first-long-card__vector-image {
        width: 257px;
    }

    .aside__second-long-card {
        padding: 24px 52.5px;
        max-width: 374px;
        align-self: center;
    }

    .aside__third-card {
        height: 242px;
        max-width: 374px;
        margin: 24px auto 0 auto;
    }

    .aside__fourth-card {
        height: 242px;
        margin-bottom: 59px;
        padding: 14px;
        max-width: 374px;
        align-self: center;
    }

    .fourth-card__text {
        width: 100%;
    }

    .text-article__header {
        font-size: 32px;
        margin-top: 32px;
    }

    .main-moment__text {
        width: 100%;
        margin: 0;
    }

    .section__text-with-photo {
        flex-direction: column;
    }

    .text-with-photo__photo {
        width: 100%;
    }

    .section__big-photo-block {
        flex-direction: column;
    }

    .column__photo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .big-photo-block__column {
        width: 100%;
    }
}

@media (max-width: 399px) {
    .container {
        margin: 0 15px;
    }

    .nav__link {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .header__burger:hover {
        cursor: pointer;
    }

    .blog__header {
        font-size: 32px;
    }

    .blog__sections {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .blog__sections::-webkit-scrollbar {
        display: none;
    }

    .articles {
        justify-content: center;
    }

    .articles__article_size_big {
        width: 100%;
        height: 484px;
    }

    .article__photo {
        height: 206px;
    }

    .article__first-section-name {
        bottom: 170px;
    }
    
    .article__second-section-name {
        bottom: 133px;
    }

    .articles__article_size_small {
        width: 100%;
        height: 484px;
    }

    .article__photo_size_small {
        height: 206px;
    }

    .first-small-article__first-section-name_size_small {
        bottom: 170px;
    }
    
    .first-small-article__second-section-name_size_small {
        bottom: 130px;
    }

    .article__first-section-name_size_small {
        bottom: 170px;
    }

    .article__date_size_big {
        top: 420px;
    }

    .articles__article_display_none {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .form__button {
        display: none;
    }

    .form__email {
        width: 90%;
    }

    .main__content {
        flex-direction: column;
    }

    .text-article {
        width: 100%;
        margin-bottom: 0;
    }

    .list-link__display_none {
        display: none;
    }

    .section__list {
        width: 95%;
    }

    .text-article__tegs {
        display: none;
    }

    .line {
        display: none;
    }

    .suggestion {
        display: none;
    }

    .bottom-line {
        display: none;
    }

    .big-round-decor {
        display: none;
    }

    .small-round-decor {
        display: none;
    }

    .info__teg {
        display: inline;
    }

    .aside {
        width: 100%;     
    }

    .aside__first-long-card {
        padding: 23px;
    }

    .first-long-card__text {
        width: 100%;
    }

    .first-long-card__vector-image {
        width: 257px;
    }

    .aside__second-long-card {
        padding: 19px 24px;
    }

    .aside__third-card {
        height: 242px;
    }

    .aside__fourth-card {
        height: 242px;
        margin-bottom: 59px;
        padding: 14px;
    }

    .fourth-card__text {
        width: 100%;
    }

    .main-nav {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-article__header {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 0px;
    }

    .main-moment__text {
        width: 100%;
        margin: 0;
    }

    .section__text-with-photo {
        flex-direction: column;
    }

    .text-with-photo__photo {
        width: 100%;
    }

    .section__big-photo-block {
        flex-direction: column;
    }

    .column__photo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .big-photo-block__column {
        width: 100%;
    }

    .info__author {
        text-wrap: nowrap;
        margin-right: 10px;
    }
    
    .info__author::after {
        margin-left: 4px;
    }
    
    .info__teg {
        margin-left: 10px;
    }

    .info__teg::before {
        right: 33px;
    }

    .text-article__main-photo {
        margin-top: 8px;
    }

    .section__header {
        font-size: 18px;
    }
}